*{
    padding: 0;
    margin: 0;
}
.gamebody{
    background: url("../background.png");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#background{
    background: linear-gradient(rgb(234, 246, 234),rgb(144, 153, 17));
    width: 90vmin;
    height: 94vmin;
    border: solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background: linear-gradient(red,yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
    
}
.food{
    background: linear-gradient(red,purple);
    border: .25vmin solid black;
    border-radius: 8px;
}
.snake{
    background: linear-gradient(rgb(85, 128, 16),rgb(0, 119, 128));
    border: .25vmin solid rgb(91, 156, 7);
    border-radius: 12px;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 222px;
    font-size: 25px;
    font-weight: bold;

}
#highscoreBox{
    position: absolute;
    top: 59px;
    right: 168px;
    font-size: 25px;
    font-weight: bold;

}